@import "../../../node_modules/prismjs/themes/prism-okaidia.css";
@import "./base.css";

:root {
  --screen-color: #272822;
  --text-color: #eee;
  --heading-font-family: Helvetica, Sans-Serif;
  --link-color: #8bc34a;
  --highlight-color: #ffc107;
  --code-font-family: monospace;
}

