html {
  font-size: 1.11vw;
  width: 100%;
  overflow-x: hidden;
  touch-action: pan-y;
}
.diapo-container {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  & progress {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.3rem;
    min-height: 3px;
    max-height: 8px;
    appearence: none;
    -webkit-appearance: none;
    border: none;
  }
  & progress[value]::-webkit-progress-value {
    transition: width 0.5s ease;
  }
}
.diapo-slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transition: all .8s cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transform: translate3d(0, 0, 0);
  padding: 5rem 5em;
  &.current {
    height: auto;
  }
}
.diapo-content {
  font-size: 2rem;
  margin: auto;
  &>* {
    text-align: left;
  }
  & ul, & ol {
    display: inline-block;
    padding-left: 1em;
  }
  & li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
    & p {
      margin: 0;
    }
  }
  & p {
    line-height: 1.7;
  }
  & img {
    max-width: 80vw;
    max-height: 80vh;
  }
  & code pre {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  & code[class*="language-"], & pre[class*="language-"] {
    line-height: 1.2;
  }
  & h1, & h2, & h3, & h4 {
    margin-top: 0;
    margin-bottom: .5em;
    text-align: center;
    white-space: nowrap;
  }
  & h1 {
    font-size: 3.6rem;
  }
  & h2 {
    font-size: 2.8rem;
  }
  & h3 {
    font-size: 2.2rem;
  }
  & h4 {
    font-size: 2rem;
  }
  & em {
    text-emphasis-style: dot;
    text-emphasis-position: under right;
    font-style: normal;
  }
  & table {
    width: 100%;
    & th, & td {
      padding: 0.5em;
    }
  }
  & a {
    text-decoration: none;
    border-bottom: 0.07em solid transparent;
    &:hover {
      border-color: currentColor;
    }
  }
  & iframe:not([width]) {
    width: 90vw;
  }
  & iframe:not([height]) {
    height: 90vh;
  }
  & .two-column {
    display: inline-block;
    column-count: 2;
    column-gap: 5em;
    margin-top: 1em;
    text-align: justify;
    & ul, & ol {
      display: block;
      margin-top: 0;
    }
    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
  & .fragment {
    visibility: hidden;
  }
}

/**
 * for mobile
 */
@media screen and (max-width: 720px) {
  html {
    font-size: 8px;
  }
  .diapo-content {
    & h1, & h2, & h3, & h4 {
      white-space: normal;
    }
  }
}

/**
 * for larger screen
 */
@media screen and (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}

/**
 * portraits warning message
 */
@media screen and (max-width: 720px) and (orientation: portrait) {
  body::after {
    content: 'View it in landscape mode.';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100vh;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    font-size: 3vh;
  }
}


