@font-face {
  font-family: 'fzlthjw'; /* 方正兰亭黑简体 */
  src: url(http://s3.qhimg.com/static/bca0a7160eaf5421/fzlthjw.woff) format('woff2');
}

@font-face {
  font-family: 'fzltxhjw'; /* 方正兰亭细黑简体 */
  src: url(http://s4.qhimg.com/static/3530dda20ca73723/fzltxhjw.woff2) format('woff2');
}

@font-face {
  font-family: 'fzltcxhjw'; /* 方正兰亭超细黑简体 */
  src: url(http://s4.qhimg.com/static/af9b945c57d79aee/fzltcxhjw.woff2) format('woff2');
}

@font-face {
  font-family: 'fzzxhjw'; /* 方正正纤黑简体 */
  src: url(http://s4.qhimg.com/static/4d2c31c78735ac1e/fzzxhjw.woff2) format('woff2');
}

@font-face {
  font-family: 'fzltyjt'; /* 方正兰亭圆简体 */
  src: url(http://s3.qhimg.com/static/7154115610ccd102/fzltyjt.woff2) format('woff2');
}

@font-face {
  font-family: 'hyg2gjm'; /* 汉仪中等线简 */
  src: url(http://s3.qhimg.com/static/d272e20145ecf6b4/hyg2gjm.woff2) format('woff2');
}

@font-face {
  font-family: 'firacode'; /* FiraCode */
  src: url(http://s4.qhimg.com/static/35cefbb4cf65bfcb/FiraCode-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'firacode light'; /* FiraCode Light */
  src: url(http://s4.qhimg.com/static/9ef92a6e4f2d7336/FiraCode-Light.woff2) format('woff2');
}

